{%load static%}

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "_css/registro_clienteFixo.css" %}" rel="stylesheet">
        <script lang="javascript" src="{% static "_javascript/funcoes.js" %}"></script>
    </head>
    <body>
    <div id="registro">
        <div id="bloco_dentro">
        <span id="LOGIN">ATUALIZAR</span>
        <form action="{%url 'consulta-fixo'%}">
            <input type="email" placeholder="E-mail:" required class="E_mail_"><br><br>
            <input type="password" placeholder="Senha:" required checked id="password" class="E_mail_"><br><br>
            <input type="text" placeholder="Nome da empresa:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="CEP:" required checked pattern="[0-9]{5}-[0-9]{3}" class="E_mail_"><br><br>
            <input type="text" placeholder="Endereço:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="Telefone:" required checked pattern="\([0-9]{2}\)[0-9]{5}-[0-9]{4}" class="E_mail_"><br><br>
            <input type="reset" value="LIMPAR" id="LIMPAR">
            <input type="submit" value="ATUALIZAR" id="ATUALIZAR"><br><br>
        </form>
        </div>
    </div>
    </body>
</html>
