{%load static%}

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "_css/registro_clienteFixo.css" %}" rel="stylesheet">
        <script lang="javascript" src="{% static "_javascript/funcoes.js" %}"></script>
    </head>
    <body>
    <div id="registro">
        <div id="bloco_dentro">
        <span id="LOGIN">COMPRAR</span>
        <form action="{%url 'logado'%}">
            <input type="text" placeholder="Número do cartão:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="Nome no cartão:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="Validade:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="CPF:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="Código de segurança:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="Data de nascimento:" required checked class="E_mail_"><br><br>
            <input type="text" placeholder="Parcelas:" required checked class="E_mail_"><br><br>
            <input type="reset" value="LIMPAR" id="LIMPAR">
            <input type="submit" value="COMPRAR" id="ATUALIZAR"><br><br>
        </form>
        </div>
    </div>
    </body>
</html>
